
body{
	background-color: #b2b8ad;
}

img{
	width: 100%;
}

.imglog{
	width: 2%;
	display: inline-block;
}
.row{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

header{
	background-color: #ced9bf;
}

.carousel{
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
}
.titulo{
	width: 100%;
	display: inline-block;
	background-color: #757d6f;
	text-align: center;
}

.texto{
	text-align: center;
}

.boton{
	display: inline-block;
}
.footer{
	text-align: center;
	background-color: #dbe6c4;
}

#listanav  li{
	list-style: none;
	display: inline-block;
}

.myButton {
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
}
.myButton:active {
	position:relative;
	top:1px;
}

.col-8{
	background-color: #9ba892;
}
